

.details-card-header {
    color: #80CBC4;
    margin-bottom: 7%;
    background-color: #B4EBE6;
    padding: 5px;
    border-radius: 8px;
}

.details-card {
    background-color: #DAF7F4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #80CBC4;
    margin-top: 20px;
}

.details-card p {
    margin: 5px 0;
    color: #666;
    background-color: #ffffff;
    margin-bottom: 13px;
}

.comment-card {
    background-color: #DAF7F4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-card-header {
    color: #80CBC4;
    font-weight: bold;
    margin-bottom: 7%;
    background-color: #B4EBE6;
    padding: 5px;
    border-radius: 8px;
}

.comment-card p {
    font-size: 1rem;
    color: #666;
    background-color: #ffffff;
    margin-bottom: 13px;
}

.btn-secondary:hover {
    background-color: #e0e0e0;
}

.btn-red {
    background-color: #dc3545;
    color: #fff;
}

.previous {
    margin-bottom: 1%;
    background-color: #f1f1f1;
    color: black;
    text-decoration: none;
    margin-left: 25px;
    padding: 8px 16px;
}

textarea.form-control {
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: none;
    transition: border-color 0.3s ease;
}

textarea.form-control:focus {
    border-color: #80CBC4;
    box-shadow: 0 0 0 0.2rem rgba(128, 203, 196, 0.25);
}

<!-- .btn-secondary {
    background-color: #80CBC4; 
    border-color: #80CBC4;
    margin-right: 5%;
    margin: auto;
} -->

