    
                              /* shared css style for all studygroup pages */
    
    /* General Body Styling */
    body {
        font-family: 'Arial', sans-serif;
        background-color: #FBF8EF; /* Soft off-white  */
        color: #333;
    }

    /* Header Styling */
    header {
        background-color: #80CBC4;  /* Soft cyan */
        padding: 20px 0;
    }
    /* capus hup title */
    header h1 { 
        font-size: 2.5rem;
        font-weight: 600;
        color: #ffffff;
    }

    /* Navbar Styling */
    .navbar {
        margin-bottom: 20px;
        background-color: #B4EBE6; /* Soft cyan */
    }

    .navbar-brand {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 1rem;  /* Smaller font size */
        color: #333;
    }

    .nav-link:hover {
        background-color: #80CBC4; 
        border-radius: 5px;
        color: #ffffff;
        
    }

    .navbar-dark .navbar-nav .nav-item.active .nav-link {
        background-color: #80CBC4;
        border-radius: 5px;
        color: white;
        
    }

    /* Main Section */
    main {
        padding-top: 40px;

    }

    